body{
    background-image:url("wallpaper.jpg");
}
.fail{
    text-align: center;
    color:rgb(0, 0, 0);
    text-shadow: 0 0 3px white;
font-family: 'Permanent Marker', cursive;

}
.heading{
    text-align: center;
    color:rgb(0, 0, 0);
    text-shadow: 0 0 3px white;
    font-size: 40px;
    /* font-family: 'Baloo Bhai 2', cursive; */
/* font-family: 'Bebas Neue', cursive; */
/* font-family: 'Merriweather', serif; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Ms Madi', cursive; */
font-family: 'Permanent Marker', cursive;
/* font-family: 'Sacramento', cursive; */
}